replicaCount: 2

image:
  repository: ghcr.io/keresifon/ai-monitoring-log-processor
  pullPolicy: IfNotPresent
  tag: "1.0.1"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

service:
  type: ClusterIP
  port: 8082

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 200m
    memory: 512Mi

env:
  SPRING_PROFILES_ACTIVE: kubernetes
  ML_SERVICE_URL: http://ml-service:8000

rabbitmq:
  host: rabbitmq
  port: 5672

elasticsearch:
  host: elasticsearch
  port: 9200

secrets:
  rabbitmqUsername: ""
  rabbitmqPassword: ""

livenessProbe:
  httpGet:
    path: /actuator/health/liveness
    port: http
  initialDelaySeconds: 60
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /actuator/health/readiness
    port: http
  initialDelaySeconds: 30
  periodSeconds: 5
